{
  "env": {
    "test": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "targets": {
              "node": true
            }
          }
        ]
      ]
    }
  }
}
